@font-face {
  font-family: "iconfont"; /* Project id 4849578 */
  src: url('iconfont.woff2?t=1743579591984') format('woff2'),
       url('iconfont.woff?t=1743579591984') format('woff'),
       url('iconfont.ttf?t=1743579591984') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuaxin:before {
  content: "\e644";
}

.icon-kaishi:before {
  content: "\e657";
}

.icon-shanchu1:before {
  content: "\eafb";
}

.icon-kaishi1:before {
  content: "\e677";
}

.icon-gengduo:before {
  content: "\e6da";
}

.icon-wenjianjia:before {
  content: "\e600";
}

.icon-xiajiantou:before {
  content: "\e601";
}

.icon-youjiantou:before {
  content: "\e602";
}

.icon-tuxiang:before {
  content: "\e605";
}

.icon-wancheng:before {
  content: "\e610";
}

.icon-shubiaojiantou1:before {
  content: "\e61c";
}

.icon-xiangpica:before {
  content: "\e6ed";
}

.icon-shanchu:before {
  content: "\e628";
}

.icon-done-all:before {
  content: "\e62a";
}

.icon-tuozhan:before {
  content: "\e629";
}

.icon-xuxianjuxing:before {
  content: "\e608";
}

.icon-huanyuanhuabu:before {
  content: "\ec13";
}

.icon-a-smlsicon_huanyuan:before {
  content: "\e617";
}

.icon-juxing:before {
  content: "\e648";
}

.icon-shubiaojiantou:before {
  content: "\e627";
}

.icon-chuangjianxianguizedian:before {
  content: "\ee41";
}

.icon-yidongjiantou:before {
  content: "\e652";
}

